.div1{
	width:600px;
	height:200px;
	background-color: orange;

	margin-bottom:50px;
}

.div1 .bank{
	display:block;

	margin-left:200px;
}

.div1 .money{
	display:block;

	margin-left:200px;
}

.div1 .coin{

	margin-left:500px;

	position:absolute;
}




.div2{
	width:600px;
	height:200px;
	background-color: cyan;

	position:relative;
}

.div2 .bank{
	display:block;

	margin-left:200px;
}

.div2 .money{
	display:block;

	margin-left:200px;
}

.div2 .coin{
	margin-left:500px;

	position:absolute;
}