/*Variable*/
:root{
	--oc:orange;
	--gn:#0fa616;
	--bl:rgba(0,0,225,1);
}

.div1{
	width:100px;
	height:80px;
	background-color:var(--gn);

	transform:rotate(50deg);
}

.div2{
	width:200px;
	height:80px;
	background-color:var(--oc);

	transform:rotate(180deg);
}

.div3{
	width:200px;
	height:80px;
	background-color:var(--bl);
	color:#fff;

	transform:rotateX(50deg);
}

.div4{
	width:200px;
	height:80px;
	background-color:var(--gn);
	color:#fff;

	transform:rotateY(50deg);
}

.div5{
	width:200px;
	height:80px;
	background-color:var(--oc);
	color:#fff;

	/*transform:scale(0);*/
	transform: scale(0.5);
}

.country{
	font-size:16px;
	-webkit-appearance:none;
	appearance:none;

	padding:10px 25px 10px 10px;

	background-image:url(./../img/icons/favicon.png);
	background-repeat:no-repeat;
	background-size:15px;
	background-position:right;
	background-position-x:90%;/*image is at 100%*/
}


h1{
	color:red;
	text-align:center;
}

p.text{
	color:blue;
	text-align:center;
}

@media(max-width:600px){
	h1{
		font-size:25px;
		color:green;
	}

	p.text{
		color:orange;
	}
}



.container{
	width:300px;
	height:300px;
	background-color:green;

	display:flex;
	justify-content:center;/*horizontal center*/
	align-items:center;/*vertical center */

	margin:auto;

	position:relative;
}

.c1{
	width:300px;
	height:300px;
	background:linear-gradient(
		cyan,
		royalblue
		);

	border-radius:50%;/*100%*/

	z-index:2;
}

.c2{
	width:320px;
	height:320px;
	/*background:black;*/
	background:conic-gradient(
		rebeccapurple 40%,
		violet 0 70%,
		aqua 0 20%
		);
	border-radius:50%;/*100%*/

	position:absolute;

	z-index:1;
}

.pointer-container{
	width:20px;
	height:200px;

	background-color:transparent;

	position:absolute;
	top:-50px;
	

	z-index:100;

	animation-name:myani;
	animation-duration:60s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;

	transform-origin:bottom;
}

.pointer{
	width:20px;
	height:20px;
	display:block;
	background-color:#ff0000;
	border-radius:50%;/*100*/

}

@keyframes myani{
	from{
		transform:rotate(0deg);
	}

	to{
		transform:rotate(360deg);
	}
}